@model IEnumerable<CountryModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div>
        <p>
            Search: <input type="text" name="SearchString" value="@ViewData["CurrentSearch"]" />
            <input type="submit" value="Search" />
        </p>
    </div>
</form>
<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSort"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CapitalSort"]">@Html.DisplayNameFor(model => model.Capital)</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(countryModel => country.Name)
                </td>
                <td>
                    @Html.DisplayFor(countryModel=> country.Capital)
                </td>
                <td>
                    <a asp-action="Details" asp-route-countryName="@country.Name">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>